@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    /* --color-main: #396aff; */
    --color-main: #e73635;
    --bg:#fbfefd;
    --bg2:#dce5ff;
    --orange: #e73635;
	--light-orange: #f88985;
    /* --main-accent:#e9eefd; */
    --main-accent:#f88985;
    --main-text:#4b5876;
    --shadow: rgba(17,17,26, 0.1) 2px 2px 16px;

}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    background: var(--bg);
    overflow-x: hidden;
}
h1{
    /*display: block;*/
    font-size: 2em;
    font-weight: bold;
}

h3{
    font-size: 1.17em;
    font-weight: bold;
}
#menu-toggle{
    display: none;
}

#menu-toggle:checked ~ .sidebar{
    left: -345px;
}
#menu-toggle:checked ~ .main-content{
    margin-left: 0;
    width: 100vw;
}
#img{
    width: 100%;
    height: auto;
}
.sidebar{
    width: 345px;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0.4rem 0.9rem;
    transition:left 300ms;
}

.sidebar-container{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: var(--shadow);
    padding: 1.2rem;
    overflow-y: auto;
}

.sidebar-container::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
.sidebar-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
.sidebar-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
  
  /* Handle on hover */
.sidebar-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.brand{
    padding-top: 1rem;
}

.brand h2{
    color:#444;
}
.brand h2 span{
    color: var(--color-main);
    font-size: 2.5rem;
    display: inline-block;
    margin-right: .5rem;
}

.sidebar-avatar{
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
    border: 3px solid var(--main-accent);
    padding: .1rem .7rem;
    border-radius:7px;
    margin: 2rem 0rem;
}

.avatar-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-menu a{
    color: var(--main-text); 
}
.sidebar-menu a span:first-child{
    display: inline-block;
    margin-right: .8rem;
    font-size: 1.2rem;
    color: var(--color-main);
}

.sidebar-menu li{
    margin-bottom: .2rem;
}

.sidebar-menu a{
    color: var(--main-text);
    display: block;
    padding: .7rem 0rem;
}

.sidebar-menu a.active{
    background: rgb(255,233,219);
    padding: .7rem;
    border-radius: 7px;
}
.sidebar-menu a span:first-child{
    display: inline-block;
    margin-right: .8rem;
    font-size: 1.5rem;
    color: var(--color-main);
}
.sidebar-card{
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: var(--shadow);
}
.side-card-icon img{
    /* font-size: 8rem; */
    color: var(--color-main);
    display: inline-block;
}

.side-card-icon{
    margin-top: .8rem;
}

.sidebar-card-icon + div{
    margin-bottom: 1.2rem;
}
.sidebar-cardicon + div p{
    font-size: .6rem;
    color: #555;
}

.btn {
    padding: .7rem 1rem;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.btn span{
    font-size: 1.2rem;
    display: inline-block;
    margin-right: .7rem;
}

.btn-block{
    display: block;
    width: 100%;
}

.btn-main{
    background: var(--color-main);
    color: #fff;
}
.main-content{
    margin-left: 345px;
    width: calc(100vw - 345px);
    padding: 0.2rem 0rem;
    transition: margin-left 300ms;
}

/*header{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding-top: .5rem;*/
/*    position: -webkit-sticky;*/
/*    position: sticky;*/
/*    top: .1rem;*/
/*    z-index:1;*/
/*    background: var(--bg);*/
/*    border-radius: 10px;*/
/*}*/

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

header.scrolled{
    background-color: var(--bg-color-transparent);
    box-shadow: 0 5px 18px 0.1px rgba(0,0,0,0.1);
    backdrop-filter: blur(15px);
}
.header-title-wrapper{
    display: flex;
}

.header-title-wrapper label{
    display: inline-block;
    color: var(--color-main);
    margin-right: 2rem;
    font-size: 1.8rem;
}

.header-title h1{
    color: var(--main-text);
    font-weight: 600;
}
.header-title p {
    color: #666;
    font-size: .9rem;
}
.header-title p span{
    color: red;
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
}

.header-action button{
    padding: .85rem 2rem;
    font-size: 1rem;
}

main{
    padding-top: 2.5rem;
}

.analytics{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0rem 1.8rem;
    padding-left: 2rem;
    margin-bottom: 3rem;
}

.analytic{
    box-shadow: var(--shadow);
    padding: 1.4rem;
    border-radius: 10px;
    display: flex;
}

.analytic-info h4{
    font-weight: 400;
    color: #555;
    font-size: .98rem;
}

.analytic-info h1{
    color: var(--main-text);
    font-weight: 700;
}

.analytic-info h1 small{
    font-size: .7rem;
}

.text-danger{
    color: red;
}
.text-success{
    color: #2ec3a3;
}

.analytic:first-child .analytic-icon{
    background: #dce5ff;
    color: #6883db;
}
.analytic:nth-child(2) .analytic-icon{
    background: rgb(255,233,219);;
    color: orangered;
}
.analytic:nth-child(3) .analytic-icon{
    background: #ebf7f5;
    color: #2ec3ae;
}
.analytic-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: .8rem;

}


.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    background: rgba(255, 255, 255, 0.5);
}

.overlay label{
    display: block;
    height: 100%;
    width: 100%;
}
@media only screen and (max-width:1224px){
    .sidebar{
        left: -345px;
        z-index: 30;
    }

    .main-content{
        width: 100vw;
        margin-left: 0;
    }
    #menu-toggle:checked ~ .sidebar{
        left: 0;
    }
    #menu-toggle:checked ~ .overlay{
        display: block;
        text-align: right;
    }
}
@media only screen and (max-width:860px){
    .analytics{
        grid-template-columns: repeat(2, 1fr);
        grid-gap:2rem;
    }
    .block-grid{
        grid-template-columns: 100%;
    }
    .revenue-card{
        order:2;
    }
}
@media only screen and (max-width:580px){
    .analytics{
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width:500px){
    .analytics{
        padding-left: 1rem;
    }
    
    header, .header-title-wrapper{
        align-items: center;
    }
    .header-title h1{
        font-size: 1.2rem;
    }
    .header-title p{
        display: none;
    }
}