@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root{
    /* --color-main: #396aff; */
    --color-main: #e73635;
    --bg:#fbfefd;
    --bg2:#dce5ff;
    --orange: #e73635;
	--light-orange: #f88985;
    /* --main-accent:#e9eefd; */
    --main-accent:#f88985;
    --main-text:#4b5876;
    --bg-color-transparent:rgba(255,255,255,0.6);
    --shadow: rgba(17,17,26, 0.1) 2px 2px 16px;
     --offcanvas-width: 270px;
      --topNavbarHeight: 56px;
      --navColor:#536654;
      /*--mainBgColor:#BDEAC1;*/
      --mainBgColor:#ccc;

}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    /*background:  rgb(242,255,255);*/
    overflow-x: hidden;
    background-color: #A4FFD4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(245,683,331)'%3E%3Cstop offset='0' stop-color='%23A4FFD4'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='504' height='420' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
h1{
    /*display: block;*/
    font-size: 2em;
    font-weight: bold;
}

h3{
    font-size: 1.17em;
    font-weight: bold;
}
ul{
    padding-left:1.4rem;
}
#menu-toggle{
    display: none;
}
#menu-fechar{
    display: none;
}

#menu-toggle:checked ~ .sidebar{
    left: -345px;
}
#menu-toggle:checked ~ .main-content{
    margin-left: 0;
    width: 100vw;
}
#img{
    width: 100%;
    height: auto;
}
div.dataTables_wrapper div.dataTables_filter{
    padding:1rem;
}
.dt-buttons{
    padding:1rem;
}
.btn-orange{
    color:white;
    background-color:var(--orange);
}
.btn-orange:hover{
    color:white;
}
 .btn-close:focus{
     border-color: #e73635;
    box-shadow: 0 0 0 0.2rem rgba(248,137,133,0.5214460784313726);

 }
.card-header{
    background: linear-gradient(180deg, hsla(36, 91%, 65%, 1) 0%, hsla(26, 87%, 59%, 1) 40%);;
    color:#fff9f5;
}
.card-header span{
    color:#fff9f5;
}

.card-body{
    background:rgba(199,199,199,0.1864738);
}

.btn-orange:focus{
    border-color: #e73635;
    box-shadow: 0 0 0 0.2rem rgba(248,137,133,0.5214460784313726);
}
.form-control-sm:focus{
    border-color: #e73635;
    box-shadow: 0 0 0 0.2rem rgba(248,137,133,0.5214460784313726);
}
.form-select:focus{
    border-color:#ff0844;
    box-shadow: 0 0 0 0.25rem rgba(255,8,68,.25);
}
.form-control:focus{
    border-color:#ff0844;
    box-shadow: 0 0 0 0.25rem rgba(255,8,68,.25);
}
.form-check-input:checked {
    background-color: #ff0844;
    border-color: #ff0844;
}
.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem rgba(255,8,68,.25);
}
.page-link{
    color:#ff0844;
}
.page-link:hover{
    color:#ff0844;
}
.page-link:focus{
     border-color: #e73635;
        box-shadow: 0 0 0 0.2rem rgba(248,137,133,0.5214460784313726);
}
.page-item.active .page-link{
    background-color: #ff0844;
    border-color: #ff0844;
}

.sidebar{
    width: 345px;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0.4rem 0.9rem;
    transition:left 300ms;
}
.offcanvas.offcanvas-start{
    border-radius:20px;
    /* padding:0.9rem; */
    top: 0.2rem;
    left: 0.9rem;
    background: #fbfefd;
    box-shadow:rgba(17,17,26, 0.1) 2px 2px 16px;
    width:23rem;
}
.offcanvas-header{
    padding: 0.9rem;
}
.offcanvas-body{
    padding: 0;
}
.sidebar-container{
    height: 100%;
    width: 100%;
    background: var(--bg);
    border-radius: 20px;
    box-shadow: var(--shadow);
    padding: 0.6rem;
    overflow-y: auto;
}

.sidebar-container::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
.sidebar-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
.sidebar-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
  
  /* Handle on hover */
.sidebar-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.brand{
    display:flex;
    padding-top: 1rem;
    justify-content:space-between;
}

.brand h2{
    color:#444;
}
.brand h2 span{
    color: var(--color-main);
    font-size: 2.5rem;
    display: inline-block;
    margin-right: .5rem;
}
.brand span{
    display:none;
    font-size:2.4rem;
    padding-top: 0.6rem;
    color: var(--color-main);
}

.sidebar-avatar{
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
    border: 2px solid var(--main-accent);
    /*padding: .1rem .7rem;*/
    border-radius:7px;
    margin: 1rem 1rem 2rem 1rem;
}
.avatar-perfil i{
    display:inline-block;
    font-size: 2.5rem;
    padding:.6rem;
    border-right:2px solid var(--main-accent);
    
}
.avatar-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 0px 0px 4px;
}
.avatar-text h4{
    font-size:14px;
}
.avatar-text small{
    font-size:13px;
    
}
.sidebar-menu a{
    color: var(--main-text); 
}
.sidebar-menu a span:first-child{
    display: inline-block;
    margin-right: .8rem;
    font-size: 1.2rem;
    color: var(--color-main);
}

.sidebar-menu li{
    margin-bottom: .2rem;
}

.sidebar-menu a{
    color: var(--main-text);
    display: block;
    padding: .7rem 0rem;
}

.sidebar-menu a.active{
    background: rgb(255,233,219);
    padding: .7rem;
    border-radius: 7px;
}
.sidebar-menu a span:first-child{
    display: inline-block;
    margin-right: .8rem;
    font-size: 1.5rem;
    color: var(--color-main);
}
.sidebar-card{
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: var(--shadow);
}
.side-card-icon img{
    /* font-size: 8rem; */
    color: var(--color-main);
    display: inline-block;
}

.side-card-icon{
    margin-top: .8rem;
}

.sidebar-card-icon + div{
    margin-bottom: 1.2rem;
}
.sidebar-cardicon + div p{
    font-size: .6rem;
    color: #555;
}

.btnwal {
    padding: .7rem .7rem;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.btnwal span{
    font-size: 1.2rem;
    display: inline-block;
    margin-right: .7rem;
}

.btn-block{
    display: block;
    width: 100%;
}

.btn-main{
    background: var(--color-main);
    color: #fff;
    padding:1rem;
}
.main-content{
    margin-left: 345px;
    width: calc(100vw - 345px);
    padding: 0.2rem 0rem;
    transition: margin-left 300ms;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
    padding-right: 2rem;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    left:0;
    z-index:10;
    /*background: var(--bg);*/
    border-radius: 10px;
    transition: 0.3s;
}

/*header{*/
/*    position: fixed;*/
/*    top:0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    z-index: 10;*/
/*    transition: 0.3s;*/
/*}*/

header.scrolled{
    background-color: var(--bg-color-transparent);
    box-shadow: 0 5px 18px 0.1px rgba(0,0,0,0.1);
    backdrop-filter: blur(7px);
}
.header-title-wrapper{
    display: flex;
}

.header-title-wrapper label{
    display: inline-block;
    color: var(--color-main);
    margin-right: 2rem;
    font-size: 1.8rem;
}

.header-title h1{
    color: var(--main-text);
    font-weight: 600;
}
.header-title p {
    color: #666;
    font-size: .9rem;
}
.header-title p span{
    color: red;
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
}

.header-action button{
    padding: .85rem 2rem;
    font-size: 1rem;
    margin-top:0.8rem;
}

main{
    padding-top: 2.5rem;
}

.analytics{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0rem 1.8rem;
    padding-left: 2rem;
    margin-bottom: 3rem;
}

.analytic{
    box-shadow: var(--shadow);
    padding: 1.4rem;
    border-radius: 10px;
    display: flex;
}

.analytic-info h4{
    font-weight: 400;
    color: #555;
    font-size: .98rem;
}

.analytic-info h1{
    color: var(--main-text);
    font-weight: 700;
}

.analytic-info h1 small{
    font-size: .7rem;
}

.text-danger{
    color: red;
}
.text-success{
    color: #2ec3a3;
}

.analytic:first-child .analytic-icon{
    background: #dce5ff;
    color: #6883db;
}
.analytic:nth-child(2) .analytic-icon{
    background: rgb(255,233,219);;
    color: orangered;
}
.analytic:nth-child(3) .analytic-icon{
    background: #ebf7f5;
    color: #2ec3ae;
}
.analytic-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: .8rem;

}


.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    background: rgba(255, 255, 255, 0.5);
}
.overlay label{
    display: block;
    height: 100%;
    width: 100%;
}
.fechar-container{
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
    
}
.fechar-container label{
    display: block;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width:1224px){
    .sidebar{
        left: -345px;
        z-index: 30;
        padding:0.4rem 2.6rem 0rem 0;
    }
    .brand span{
        display:flex;
    }
    .main-content{
        width: 100vw;
        margin-left: 0;
    }
    #menu-fechar:checked,
    .sidebar{
        left: -345px;
    }
    #menu-toggle:checked ~ .sidebar{
        left: 0;
    }
    #menu-toggle:checked ~ .overlay{
        display: block;
        text-align: right;
    }
    #menu-fechar:checked ~ .overlay{
        display: block;
        text-align: right;
    }
}
@media only screen and (max-width:860px){
    .analytics{
        grid-template-columns: repeat(2, 1fr);
        grid-gap:2rem;
    }
    .block-grid{
        grid-template-columns: 100%;
    }
    .revenue-card{
        order:2;
    }
}
@media only screen and (max-width:580px){
    .analytics{
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width:500px){
    .analytics{
        padding-left: 1rem;
    }
    header, .header-title-wrapper{
        align-items: center;
    }
    .header-title h1{
        font-size: 1.2rem;
    }
    .header-title p{
        display: none;
    }
    .offcanvas.offcanvas-start{
        width: 350px;
    }
}
@media only screen and (max-width:400px){
    .offcanvas.offcanvas-start{
        width: 250px;
    }
}