:root{
    --card-color:#fff5;
}

body{
    --bg-card-body: rgba(199,199,199,0.1864738);
}

body.dark{
    --bg-card-body: rgba(76,76,76,45%);
}

#card{
    background-color:var(--card-color);
    backdrop-filter:blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius:.8rem;
}

.card-body{
    background:var(--bg-card-body);
    border-radius:0px 0px 12px 12px;
    -webkit-box-shadow: 8px 10px 12px 0px rgba(165,165,165,0.6); 
    box-shadow: 8px 10px 12px 0px rgba(165,165,165,0.6);
    outline: 2px solid rgba(231,229,223,0.14);
    outline-offset: 0px;
}
.btn-block{
    display: block;
    width: 100%;
}

.btn-main{
    background: var(--color-main);
    color: #fff;
    padding:1rem;
}