@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap");
:root {
    --font-main: "Inter", sans-serif;
    --radius-circle: 50%;
    --main-color-1:rgb(0, 202, 199);
    --orange-color:#ffc15e;
    --colo-primary:#8158fc;
    --colo-red:#FF0000;
    --colo-primary-card:rgba(129, 88, 252, 0.7);
    --colo-dark-1: #000000;
    --colo-dark-2: #7d8184;
    --colo-white-1: #ffffff;
    --colo-white-2: #f5f5f5;
    --colo-card: #d1cccc;
    --colo-white-3: #f8f8f8;
    --font-color:#afb7bf;
    --green-color:#2fa52d;
    --nav-after:rgb(129 88 252);
    --nav-after-color:rgb(239 239 239);
    --bg-color-body:#ffffff;
    --bg-image-body: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(256,683,331)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23E1EAEB'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='430' height='358.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");;;
    --bg-attachment-body:fixed;
    --bg-size-body:cover;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    /* 1 rem 10px */
}

a {
    color: var(--dark-color);
    text-decoration: none;
}
body {
    background-color:var(--bg-color-body);
    background-image: var(--bg-image-body);
    background-attachment: var(--bg-attachment-body);
    background-size: var(--bg-size-body);
    color: var(--colo-dark-1);
    font-size: 1.6rem;
    line-height: 1.5;
    z-index: 1;
}
.containeri{
    margin: 0 35px 0 0;
}
.chartBoxi, .transactionBoxi, .formularioi{
    background-color: var(--colo-white-3);
    border-radius: 15px;
    padding: 2rem;
    margin: 2rem 0;
}

.chartBoxi .main-texti, .transactionBoxi .main-texti,
.formularioi .main-texti{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(129, 88, 252, 0.1);
}
.transactionBoxi .legend-boxi a{
    color: var(--colo-dark-1);
    font-size: 1.6rem;
    font-weight: 600;
    padding: .5rem 1rem;
    border-radius: 20px;
}

.transactionBoxi .legend-boxi a:hover, .legend-boxi a.active{
    background: var(--colo-primary);
    color: #ffffff;
}
.searchBox {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    background: var(--white-color);
    padding: 7px;
    width: 40%;
}
.containeri{
    margin: 0 35px 0 0;
}
.tabela {
    background-color: rgb(82 50 175 / 24%);
    backdrop-filter: blur(20px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem auto;
}
/*tabelas*/
table {
    width: 82vw;
    height: 90vh;
    /* background-color: #fff5;

    backdrop-filter: blur(7px); */
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    padding: 0.8rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transactionBoxi .input-group-search {
    width: 35%;
    height: 100%;
    padding: 1rem 2.8rem;
    border-radius: 2rem;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.transactionBoxi .input-group-search:hover {
    width: 50%;
    background-color: rgba(230, 224, 255, 0.705);
    box-shadow: 0 .1rem .4rem #0002;
}

.transactionBoxi .input-group-search img {
    width: 4rem;
    height: 4rem;
}

.transactionBoxi .input-group-search input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    /* border-radius: 50%; */

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 12px 4px;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--light-orange);
    cursor: pointer;
    text-transform: capitalize;
    padding: 12px 4px;
    font-weight: 700;
    font-size: 20px;
}
thead th:nth-child(2){
    width:4rem;
}
thead th:nth-child(4){
    width: 8rem;
}
thead th:nth-child(7){
   width: 17rem;
}
thead th:nth-child(8){
   width: 14rem;
}
tbody tr {
    background-color: var(--bg-color-body);
}
/*tbody tr:nth-child(even) {*/
/*    background-color: var(--bg-color-body);*/
/*}*/

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
    display: none;
}

tbody tr:hover {
    background-color: var(--mainBgColor) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid var(--colo-primary);
}

thead th:hover {
    color: var(--colo-primary);
}

thead th.active span.icon-arrow{
    background-color: var(--colo-primary);
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: var(--colo-primary);
}

.text-thead{
    font-weight: 700 !important;
    position: relative;
    text-align: center;
    color: var(--colo-dark-1);
    
}
#razaoSocial{
    margin: 0 auto;
}
.text-matrix{
    font-weight: 700 !important;
    position: relative;
    color: var(--colo-dark-2);
}

.text-matrix a{
    font-size: 2.3rem;
    font-weight: 700 !important;
    /*margin-right: 4px;*/
    cursor: pointer;
    
}
.status {
    height: 32px;
    font-weight: 700 !important;
    background-color: #fff;
    width: 100%;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    text-align: center;
    margin-right: 6rem;
}

.status.delivered {
    background-color: rgba(27, 163, 142, .15);
    color: #1ba38e;
}

.status.cancelled {
    background-color: #d893a3;
    color: #e56b5b;
}

.status.pending {
    background-color: rgba(230, 172, 0, .2);
    color: #e6ac00;
}

.status.shipped {
    background-color: #6fcaea;
}

.td-periodo{
    width: 11rem;
}
.periodo {
    height: 32px;
    font-weight: 700 !important;
    background-color: #fff;
    width: 100%;
    padding: .4rem 6rem;
    border-radius: 6px;
    text-align: center;
}

.periodo.pending {
    background-color: rgba(230, 172, 0, .2);
    color: #e6ac00;
}
.rbt12{
    height: 34px;
    font-weight: 700 !important;
    background-color: #e6fbf5;
    width: 100%;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    text-align: center;
    /* background-color: rgba(27, 163, 142, .15); */
    color: #1ba38e;
    margin-right: 0rem;
    border: 1px solid #35cca3;
}
.rbt12:hover{
    
    background-color: #bef1e3;
}
.rbt12.limite2{
    border: 1px solid #d97706;
    background-color: #fef3c7;
    color: #b45309;
}
.rbt12.limite2:hover{
    border: 1px solid #b45309;
    background-color: #fbf5e5 !important;
}
.baixado a{
    font-size: 3rem;
    font-weight: 700 !important;
    margin-right: 4px;
    text-align: center;
    
}
.busca{
    width: 100%;
    height: 32px;
    font-weight: 700 !important;
    padding:  .4rem 0;
    background-color: rgba(111, 163, 27, 0.15);
    color: #603b9b;
    border-radius: 6px;
    text-align: center;
}
.btn-visualizar {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 6px;
    background-color: rgba(27, 163, 143, 0.336);
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.4px;
    min-width: 125px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
}

.das:hover,
.btn-visualizar:hover{
    transform: translateY(-5px);
}
/*detalhes*/
/*.righti {*/
/*    margin: 1rem 0;*/
/*}*/


.container-details{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));;
    grid-gap: 1rem;
    margin-top: 1.3rem;
}


.datails-boxi{
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 1rem;
    margin-top: 1.3rem;
    width: 50rem;
}

.contenti{
    background: var(--nav-after-color);
    border-radius: 10px;
    padding: 1rem;
    width:100%;
}

.incomei, .outcomei{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem .4rem 0rem;
    border-bottom: 1px solid rgba(129, 88, 252, 0.1);
}

.left-contenti{
    display:flex ;
    align-items :center ;
    gap: .7rem;
}

.badgei i{
    display: inline-flex;
    /*rotate: -90deg;*/
    color: var(--colo-primary);
    font-size: 4.4rem;
}
.badgei.rbt12info i{
    color: var(--colo-red) !important;
}
.badgei.faturamento-info i{
    color: var(--orange-color) !important;
}
.text-orange{
    color: #ff9d00 !important;
}
.content-colo{
    color: var(--colo-primary) !important;
}
.text-azul{
    color:var(--main-color-1);
}
.text-azul i{
    color:var(--main-color-1) !important;
}
.outcomei .badgei i{
    color: var(--green-color);
    /*rotate: 90deg;*/
}

.right-contenti{
    text-align: center;
}

.right-contenti i{
    font-size: 2rem;
}
.right-contenti span{
    color: var(--colo-dark-1);
}

.incomei .topi{
    color: var(--red-color);
}

.topi p{
    margin: -5px 0;
    font-size: .8rem;
    font-weight: 500;
}

.right-contenti span .infoi span{
    color: var(--font-color);
    font-size: .8rem;
    font-weight: 500;
}


.outcomei .topi{
    color: var(--green-color);
}

.infoi{
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    /* gap: 0.1rem; */
}

.infoi strong{
    margin-bottom: -.3em !important ;
    margin-left: 0.2rem;
    color: var(--colo-dark-2);
}
.infoi h4{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--colo-dark-2);
}
#myChartLimite{
    width: 30rem !important;
    height: 20rem !important;
}
.card-infoi{
    background: var(--white-color);
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    z-index: 1;
    background: var(--nav-after-color);
    width:100%;
}

.card-infoi .main-texti{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid var(--color-main);
}

thead th:hover {
    color: var(--color-main);
}

thead th.active span.icon-arrow{
    background-color: var(--color-main);
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: var(--color-main);
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background:  url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: var(--bg-color-body);
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    display: none;
    width: 24rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    /* opacity: 0; */
    transform:translateX(100%);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    transition: .2s;
}
/* .export__file input:checked + .export__file-options { */
.export__file-options.open {
    /* opacity: 1; */
    transform:translateX(-25px);
    z-index: 100;
    display: block;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: 1.4rem  0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
    display: block;
}

.export__file .export__file-options img{
    width: 3rem;
    height: auto;
}
@media(max-width:1530px){
    .container-details{
        grid-gap: 0.5rem;
        /*grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));*/
        margin-top: 0;
        justify-items: center;
    }
    .datails-boxi{
        margin-top:0;
        width:100%;
    }
}
@media screen and (max-width:1200px){
    th:nth-child(1),table tr td:nth-child(1),
    th:nth-child(4),table tr td:nth-child(4),
    th:nth-child(7), table tr td:nth-child(7)
    {
        display: none;
    }
    thead th:nth-child(2)
    {
        font-size: 14px;
    }
    table, th, td {
    padding: 12px 2px;
    text-align: center;
    font-size: 1.4rem;
    }
    .status {
    height: 32px;
    padding: 0.4rem 1.6rem 0 1rem;
    text-align: center;
    }
    .periodo {
        padding: .4rem 3rem;
    }
    .rbt12 {
        padding: .4rem 0.5rem;
    }
}
@media screen and (max-width:810px){
    /* th:nth-child(8),table tr td:nth-child(8) */
    /* {
        display: none;
    } */
}
@media screen and (max-width:768px){
    /* th:nth-child(2),table tr td:nth-child(2) */
    /* {
        display: block;
    } */
    table{
        overflow: overlay;
    }
    .chartBoxi, .transactionBoxi, .formularioi{
        overflow: overlay;
    }
}
@media screen and (max-width:570px){
    table {
        width: 100%; /* Garante que a tabela ocupe 100% da largura disponível */
        table-layout: fixed; /* Faz com que as colunas tenham larguras proporcionais */
    }
    th:nth-child(1), table tr td:nth-child(1){
        /* th:nth-child(6),table tr td:nth-child(6){ */
        display: none;
    }
    th:nth-child(2), table tr td:nth-child(2){
        width: 17rem;
    }
    th:nth-child(3), table tr td:nth-child(3){
        width: 15rem;
    }
    th:nth-child(5), table tr td:nth-child(5){
        width: 16rem;
    }
    th:nth-child(6), table tr td:nth-child(6){
        width: 25rem;
    }
    th:nth-child(8), table tr td:nth-child(8){
        width: 12rem;
    }
    .transactionBoxi .legend-boxi a{
        padding: .5rem .5rem;
    }
    thead th{
        padding: 12px 16px;
    }
}